<body>
    <br><br>
    Choose a book to see details 
    <br><br><a href="http://localhost:3000/books/1">The Cat in the Hat</a><br>
    <a href="http://localhost:3000/books/2">Fox in Socks: Dr. Seuss's Book of Tongue Tanglers</a><br>
    <a href="http://localhost:3000/books/3">Horton Hears a Who!</a>
</body>